Host 3rd
	Hostname 172.16.50.218
	User das
Host pi4
	Hostname 172.16.50.124
	User das
Host pi3b
	Hostname 172.16.50.125
	User das
Host jetson
	Hostname 172.16.50.248
	User das
Host nanopi-neo3
	Hostname 172.16.50.177
	User das
Host nanopi-r5c
	Hostname 172.16.50.156
	User das
Host asus1
	Hostname 172.16.50.101
	User das
Host asus2
	Hostname 172.16.50.96
	User das
Host cisco2
    Hostname 172.16.50.9
    User root
    #Legacy changes
    KexAlgorithms +diffie-hellman-group1-sha1
    Ciphers +aes128-cbc
    HostKeyAlgorithms=+ssh-rsa
    MACs hmac-sha1